<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>URL shortner</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="container">
        <h1>URL shortener</h1>
        <div class="image"><a href="/"><img src="image/image.png" alt=""></a></div>
    </div>
    
    {{{body}}}

</body>

</html>