<div class="input-container">
    <form action="/shorten" class="search-bar">
        <input type="url" name='url' placeholder="write url in here...">
        <button type="submit">shorten</button>
    </form>
</div>